:root {
  --bg-color: #0c0c0c;
  --text-color: #fff;
  --main-color: #ae8957;

  --big-font: 6.6rem;
  --p-font: 1rem;
}

.Header-body {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 35px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  font-family: "Roboto", sans-serif;
}

.logo img{
  width: 100%;
  height: auto;
}

.navlist {
  display: flex;
}

.navlist a {
  text-decoration: none;
  display: inline-block;
  margin: 0 35px;
  color: var(--text-color);
  font-size: var(--p-font);
  transition: all 0.6s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.rightnav {
    display: flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

.signup,.login {
    display: inline-block;
    padding: 9px 24px;
    background: transparent;
    border: 1px solid var(--text-color);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all 0.6s ease;
}

.signup:hover,.login:hover {
    transform: translateY(-5px);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

